/* *{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

body,
html{
    width: 100%;
    height: 100%;
    background: url(./splash-ind.jpg) no-repeat center center fixed; 
    background-size: cover;
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
}

#nav-up{
    /* height: 75px; */
    width: 100%;
    background-color: rgb(154, 71, 0) !important;
}

#my-name{
    font-size: 30px !important;
}

.button-border{
    border: red;
}

.name{
    position: absolute;
    color: white;
    font-size: 25px;
    /* line-height: 75px; */
    top: 30%;
    padding: 0 50px;
    font-weight: lighter;
}

.nav ul{
    float: right;
    margin-right: 30px;
}

.nav ul li{
    /* position: absolute; */
    line-height: 70px;
    display: inline-block;
    word-spacing: 20px;
    top: 30%;
}

.nav ul li a{
    list-style: none;
    color: white;
   
}

#abt-me-txt{
    color: rgb(154, 71, 0) !important;
}

#bio-image {
    height: 40%;
    width: auto;
}

#shot-1{
    height: auto;
    width: 300px;
}

/* .caption{
    width: 100%;
} */

.bio {
    line-height: 35px;
    font-size: 16px;
    ;
}

#port {
    margin-bottom: 25px;
    /* padding-left: 15px; */
    position: relative;
}

.photoPort {
    position: relative;
}

.caption {
    position: absolute;
    width: 300px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(154, 71, 0);
    z-index: 2;
    top: 60%;
    padding-top: 15px;
    color: rgb(255, 255, 255);
}

#foot-text{
    font-weight: 500 !important;
}